*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(orange, red);
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1{
    color: rgb(10, 110, 70);
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 6px;
    border: 2px solid rgb(12, 5, 5);
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 20px;
    font-weight: bolder;
    background-color: antiquewhite;
}
#reset{
    padding: 10px 25px;
    font-size: 25px;
    background-color: #191913;
    color: #fff;
    border-radius: 10px;
    margin-left: 150px;

}
.msg-container{
    text-align: center;
    margin: 20px;
   
    font-size: 20px;
   
}
#msg{
    font-size: 30px;
    font-weight: bold;

}
#new{
    padding: 10px 25px;
    font-size: 25px;
    background-color: #191913;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}